<h4 mat-dialog-title>Обновить настройку</h4>

<mat-dialog-content [formGroup]="settingsForm">
  
  <div class="row">
    <div class="col-6">
      {{selectedName}}
    </div>
      
    <mat-form-field class="col-6">
      <input matInput placeholder="Значение" formControlName="value">
    </mat-form-field>
  </div>
    
  <div class="row">
    <mat-form-field class="col">
      <mat-label>Выберите тип настройки</mat-label>
      <select matNativeControl required formControlName="type">
        <option value="Строка">Строка</option>
        <option value="Число">Число</option>
        <option value="Дата">Дата</option>
      </select>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary"(click)="updateSetting()">Обновить настройку</button>
  <button class="mat-raised-button"(click)="close()">Закрыть</button> 
</mat-dialog-actions>