<div class="modal-header">
  <h4 class="modal-title">Обновить настройку</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="settingsForm">
    <ul>
      <li>
        {{selectedName}}
      </li>

      <li>
        <mat-form-field>
          <input matInput placeholder="Значение" formControlName="value">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <mat-label>Выберите тип настройки</mat-label>
          <select matNativeControl required formControlName="type">
            <option value="Строка">Строка</option>
            <option value="Число">Число</option>
            <option value="Дата">Дата</option>
          </select>
        </mat-form-field>
      </li>
    </ul>  
  </form>
</div>
<div class="modal-footer">
  <button button mat-button color="primary" (click)="updateSetting()">
    Обновить настройку
  </button>
</div>