<div class="modal-header">
  <h4 class="modal-title">Новая настройка</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="settingsForm">
    <ul>
      <li>
        <mat-form-field>
          <input matInput placeholder="Название" formControlName="name">
        </mat-form-field>
      </li>

    
      <li>
        <mat-form-field>
          <input matInput placeholder="Значение" formControlName="value">
        </mat-form-field>
      </li>
    
      <li>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select  formControlName="type">
            <mat-option value="Строка">Строка</mat-option>
            <mat-option value="Число">Число</mat-option>
            <mat-option value="Дата">Дата</mat-option>
          </mat-select>
        </mat-form-field>
      </li>

      <li> 
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="txtType">Тип:</label>
          </div>
          <input type="text" id="txtType" formControlName="type">
        </div>  
      </li>
    </ul>  
  </form>

  <div *ngIf="message">
    {{message}}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="addSetting()">
    Добавить настройку
  </button>
</div>