<div>
  <div>
    <button class="btn btn-success" (click)="openAddFormModal()">Добавить</button>
    <button class="btn btn-danger" (click)="openDeleteFormModal()">Удалить</button>
    <button class="btn btn-primary" (click)="openUpdateFormModal()">Обновить</button>

    <table>
        <thead>
          <th>Название</th>
          <th>Значение</th>
          <th>Тип</th>
        </thead>
        <tbody>
          <tr *ngFor="let settings of listOfSettings">
            <td>{{settings.name}}</td>
            <td>{{settings.value}}</td>
            <td>{{settings.type}}</td>
          </tr>
        </tbody>
    </table>


    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          Название
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          Значение
        </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          Тип
        </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>  
</div>