<div>
  <table class="table table-responsive table-hover">
    <thead>
      <th>
        <input type="text" [(ngModel)]="searchDateTime" class="form-control" placeholder="Search" />
      </th>
      <th>
        <input type="text" [(ngModel)]="searchHost" class="form-control" placeholder="Search" />
      </th>
      <th>
        <input type="text" [(ngModel)]="searchEvent" class="form-control" placeholder="Search" />
      </th>
      <th>
        <input type="text" [(ngModel)]="searchDescription" class="form-control" placeholder="Search" />
      </th>
      <th>
        
      </th>
    </thead>
    <thead>
      <th class="sort-filter">
        <button class="btn btn-link collapsed" (click)="sort('dateTime', '-1')"><i class="arrow down"></i></button>
        <button class="btn btn-link collapsed" (click)="sort('dateTime', '1')"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
          <button class="btn btn-link collapsed" (click)="sort('host', '-1')"><i class="arrow down"></i></button>
          <button class="btn btn-link collapsed" (click)="sort('host', '1')"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
        <button class="btn btn-link collapsed" (click)="sort('event', '-1')"><i class="arrow down"></i></button>
        <button class="btn btn-link collapsed" (click)="sort('event', '1')"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
        <button class="btn btn-link collapsed" (click)="sort('description', '-1')"><i class="arrow down"></i></button>
        <button class="btn btn-link collapsed" (click)="sort('description', '1')"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
        <button class="btn btn-link collapsed" (click)="sort('result', '-1')"><i class="arrow down"></i></button>
        <button class="btn btn-link collapsed" (click)="sort('result', '1')"><i class="arrow up"></i></button>
      </th>
    </thead>
    <thead>
      <th>Дата и время</th>
      <th>Хост</th>
      <th>Событие</th>
      <th>Комментарий</th>
      <th>Результат</th>
    </thead>
    <tbody>
      <tr *ngFor="let audit of listOfAudit | filter: searchDateTime:searchHost:searchEvent:searchDescription | orderBy: {property: column, direction: direction}">
        <td>{{audit.dateTime | date: "dd/MM/yyyy"}}</td>
        <td>{{audit.host}}</td>
        <td>{{audit.event}}</td>
        <td>{{audit.description}}</td>
        <td>{{audit.result}}</td>
      </tr>
    </tbody>
  </table>
</div>