<div>
  <table>
    <thead>
      <th class="sort-filter">
        <button class="btn btn-link collapsed"><i class="arrow down"></i></button>
        <button class="btn btn-link collapsed"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
          <button class="btn btn-link collapsed"><i class="arrow down"></i></button>
          <button class="btn btn-link collapsed"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
          <button class="btn btn-link collapsed"><i class="arrow down"></i></button>
          <button class="btn btn-link collapsed"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
          <button class="btn btn-link collapsed"><i class="arrow down"></i></button>
          <button class="btn btn-link collapsed"><i class="arrow up"></i></button>
      </th>
      <th class="sort-filter">
          <button class="btn btn-link collapsed"><i class="arrow down"></i></button>
          <button class="btn btn-link collapsed"><i class="arrow up"></i></button>
      </th>
    </thead>
    <thead>
      <th>Дата и время</th>
      <th>Хост</th>
      <th>Событие</th>
      <th>Комментарий</th>
      <th>Результат</th>
    </thead>
    <tbody>
      <tr *ngFor="let audit of listOfAudit">
        <td>{{audit.dateTime}}</td>
        <td>{{audit.host}}</td>
        <td>{{audit.event}}</td>
        <td>{{audit.description}}</td>
        <td>{{audit.result}}</td>
      </tr>
    </tbody>
  </table> 
  <button (click)="fetchAuditData()">QQ</button>
</div>